<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Personal Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('resume') }}">Resume</a>
            <a href="{{ url_for('blog') }}">Blog</a>
        </nav>
    </header>
    <div class="content-container">
        <div class="content">
            <h1>Rishabh Sharma</h1>
            <p>Full Stack Software Developer | Python Developer | Data Analysis</p>
            <p>Email: rishabhsharma1600@gmail.com | Phone: +917230814821 | Jaipur, India</p>
            <p>GitHub: <a href="https://github.com/Rishabh-9947">Rishabh-9947</a> | Twitter: <a href="https://twitter.com/mrkermit265">mrkermit265</a></p>

            <section>
                <h2>Professional Summary</h2>
                <p>Passionate software developer with three years of experience in full-stack development, machine learning, and data analysis. Proficient in Python and its data science libraries like NumPy and Pandas. Skilled at applying Python for classification modeling, model evaluation, regression, and troubleshooting complex problems under pressure. Experienced in developing web applications using JavaScript frameworks like Vue.js, Node.js, Angular.js, and React.js. Adept at crafting intuitive user interfaces and optimizing user experiences by leveraging skills in HTML, CSS, UI/UX design, and graphic design tools like Adobe Creative Suite and Figma.</p>
            </section>

            <section>
                <h2>Projects</h2>
                <ul>
                    <li>
                        <strong>Term Deposit Conversion Prediction - Retail Banking</strong>
                        <p>Developed a machine learning model to predict the likelihood of term deposit subscription for a retail banking client. Utilized client and call data features to optimize telephonic marketing campaigns. Used libraries and techniques like Scikit-learn, NumPy, Matplotlib, and Pandas. Experimented with Logistic Regression, Decision Trees, and Random Forest classifiers to optimize results. Evaluated model performance using precision, recall, and F1-score.</p>
                    </li>
                    <li>
                        <strong>Customer Churn Prediction - Retail Banking</strong>
                        <p>Developed a predictive model to identify customers at risk of churn for a retail bank. Analyzed demographic, relationship, and transactional data to build a churn propensity model. Leveraged feature engineering and model selection to optimize prediction accuracy. Used libraries and techniques like Scikit-learn, NumPy, Pandas, and Matplotlib.</p>
                    </li>
                    <li>
                        <strong>Grocery Store Web Application</strong>
                        <p>Developed a multi-user web application using Flask, Jinja2 templates, Bootstrap, and SQLite for an online grocery store. Implemented core features including admin and user login, inventory management, product management, search functionality, shopping cart, and product purchase. Designed and developed APIs for seamless interaction with sections and products, enabling CRUD operations. Conducted thorough testing and debugging to ensure the application's functionality and performance.</p>
                    </li>
                </ul>
            </section>

            <section>
                <h2>Professional Experience</h2>
                <ul>
                    <li>
                        <strong>Full Stack Software Developer, Web Developer, Graphic Designer - M.S. Organica</strong>
                        <p>Developed and implemented innovative web design solutions, boosting website traffic and user engagement by 30%. Collaborated with cross-functional teams to create visually appealing graphics and user-friendly websites. Utilized industry-leading software for high-quality print materials like brochures, posters, and logos, meeting tight deadlines. Conducted research and analysis to deliver modern, client-aligned websites and graphics.</p>
                    </li>
                    <li>
                        <strong>Freelance Developer</strong>
                        <p>Specialized in front-end engineering, adding a personal touch to each project, whether it's web development, crafting interfaces, or optimizing user experiences. Worked closely with clients to ensure their unique needs are met, consistently delivering tailored solutions that exceed expectations.</p>
                    </li>
                </ul>
            </section>

            <section>
                <h2>Education</h2>
                <ul>
                    <li>
                        <strong>Diploma in Computer Programming/Engineering</strong> - Indian Institute of Technology Madras, 2023-2024
                    </li>
                    <li>
                        <strong>Bachelor of Science in Physics (Hons)</strong> - Manipal University Jaipur, 2021-2024
                    </li>
                    <li>
                        <strong>12th (Secondary School Leaving Certificate)</strong> - Creative Public Sr. Sec. School, 2018-2021
                    </li>
                    <li>
                        <strong>11th (High School Certificate)</strong> - Creative Public Sr. Sec. School, 2016-2017
                    </li>
                    <li>
                        <strong>10th (Secondary School Examination)</strong> - Creative Public Sr. Sec. School, 2014-2015
                    </li>
                </ul>
            </section>

            <section>
                <h2>Skills</h2>
                <ul>
                    <li>Data Analysis: Python, Jupyter Notebook, Data Preparation Techniques, Statistical analysis, visualization with Matplotlib</li>
                    <li>Database Management: SQL, SQLite, Database Backup and Recovery, Database Design, Data Modeling</li>
                    <li>System Frameworks: Computer Architecture, Operating Systems (Windows, Linux)</li>
                    <li>Web Development: HTML, CSS, JavaScript</li>
                    <li>Graphic Design: Adobe Creative Suite, Figma, Inkscape</li>
                    <li>User Interface Design: User Experience Enhancement (UX)</li>
                    <li>CAD Skills: Machine Design, Product Design</li>
                    <li>Adaptability and Continuous Learning: Passion for tackling new challenges and learning new technologies and languages</li>
                    <li>Programming Languages: Python, JavaScript</li>
                    <li>Model Evaluation Metrics: Accuracy, precision, recall, F1-score</li>
                    <li>Server Side Management: Unix Commands</li>
                    <li>CSS Frameworks: Tailwind, Bootstrap, Materialize</li>
                    <li>Frontend Development: Web Development, Mobile App Development</li>
                    <li>Web Frameworks: Vue.js, Node.js, Angular.js, React.js</li>
                    <li>Physics: Fundamental Principles of Physics</li>
                </ul>
            </section>

            <section>
                <h2>Languages</h2>
                <ul>
                    <li>English</li>
                    <li>Hindi</li>
                </ul>
            </section>

            <section>
                <h2>Certificates</h2>
                <ul>
                    <li>Machine Learning</li>
                    <li>Data Analysis</li>
                    <li>UI/UX Training</li>
                    <li>Google Certifications in UI/UX</li>
                    <li>AI-based conference participation</li>
                </ul>
            </section>

            <section>
                <h2>Interests</h2>
                <ul>
                    <li>Reading</li>
                    <li>Cooking</li>
                    <li>Travelling</li>
                </ul>
            </section>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Rishabh Sharma</p>
    </footer>
</body>
</html>
